@model IEnumerable<TestCMS.Models.Shop>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Список заведений</title>
</head>
<body>
<h3>Список заведений</h3>
<table>
    <tr>
        <td>Название</td>
        <td>Категория</td>
        <td>X</td>
        <td>Y</td>
        
    </tr>
    @foreach (var shop in Model)
    {
        <tr>
            <td>@shop.name</td>
            <td>@shop.category</td>
            <td>@shop.x</td>
            <td>@shop.y</td>

       
        </tr>
    }
</table>
</body>
</html>